<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cetakin.anterin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HistoriPesanan"></activity>
        <activity android:name=".Admin_Orderan_Selesai" />
        <activity android:name=".Admin_Orderan" />
        <activity android:name=".AkunSet" />
        <activity android:name=".CekPesanan" />
        <activity android:name=".CetakinPage" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".UserPage" />
        <activity android:name=".AdminPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>